# Всі файли тимчасових каталогів та файли зміненої конфігурації
__pycache__/
*.pyc
*.pyo
*.pyd

# Віртуальне середовище (venv) або середовища для ізольованого середовища Python
venv/

# База даних SQLite
db.sqlite3

# Файл налаштувань локального середовища
.env

# Ігнорувати папку .idea
.idea/