{% extends "base.html" %}

{% block content %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <h1>Login</h1>

  <div>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="login-panel">
        <input type="submit" value="Login" class="account-link short-link" />
        <input type="hidden" name="next" value="{% url 'Application:Home' %}" />
        <div style="width: 10px"></div>
        <a href="{% url 'Application:Home' %}" class="account-link short-link">Cancel</a>
      </div>
    </form>
  </div>

{% endblock %}
